{% extends 'base.html' %}
{% load static %}
{% block content %}

<body>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

            <!-- Title -->
            <h1 class="mt-4">{{blog.title}}</h1>

            <!-- Author -->
            <p class="lead">
                by
                <a href="#">{{blog.author.user.username}}</a>
            </p>

            <hr>

            <!-- Date/Time -->
            <p>Posted on {{blog.date|timesince}}</p>

            <a href="{% url 'blog_update' blog_id=blog.id %}">Update</a>
            <a href="{% url 'blog_delete' blog_id=blog.id %}">Delete</a>

            <hr>


            <!-- Preview Image -->
            <img class="img-fluid rounded" src="{{blog.thumbnail.url}}" alt="">

            <hr>

            <!-- Post Content -->
            {{blog.content|safe}}

            <hr>

            <!-- Comments Form -->
            <div class="card my-4">
                <h5 class="card-header">Leave a Comment:</h5>
                <div class="card-body">
                    <form method="POST" action=".">
                        {% csrf_token %}
                        <div class="form-group">
                            {{form}}
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>

            {%for comment in blog.get_comments %}
            <!-- Single Comment -->
            <div class="media mb-4">
                {% if comment.user.author %}
                <img class="d-flex mr-3 rounded-circle" src="{{comment.user.author.profile_picture.url}}" alt="" width="100">
                {% else %}
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                {% endif %}
                <div class="media-body">
                    <h5 class="mt-0">{{ comment.user.username }}</h5>
                    <h6 class="mt-0">{{ comment.date }}</h6>
                    {{ comment.content }}
                </div>
            </div>
            {% endfor %}

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Search Widget -->
            <div class="card my-4">
                  <h5 class="card-header">Search</h5>
                  <div class="card-body">
                      <div class="widget search">
                          <form action="{% url 'search' %}" class="search-form">
                              <div class="form-group">
                                  <input type="text" name="q" placeholder="Mau mencari apa ?">
                                  <button type="submit" class="submit">Cari</button>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>

            <!-- Categories Widget -->
            <div class="card my-4">
                <h5 class="card-header">Categories</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    {% for cat in categories %}
                                    <a href="{% url 'category' cat%}">{{cat}}</a>
                                    {% endfor %}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">Side Widget</h5>
                <div class="card-body">
                    You can put anything you want inside of these side widgets. They are easy to use, and feature the
                    new Bootstrap 4 card containers!
                </div>
            </div>

        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
</body>

{%endblock content %}


